@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*reset básico*/
*{
    box-sizing: border-box;
    margin: 0px; /*altera o distanciamento externo do site*/
    padding: 0px; /*altera o distanciamento interno do site*/
}

body{
    background-color:  #000505; /*altera a cor de fundo*/
}

#personagem{
    background-color:  #420608; /*altera a cor de fundo*/
    padding: 50px 20px; /*altera o distanciamento interno da caixa*/
}

#personagem h2{
    color: white; /*altera a cor do texto*/
    text-align: center; /*centraliza o texto*/
    font-size: 40px; /*altera o tamanho da letra*/
    margin-bottom: 40px;
}

.container-personagem{
    display: flex; /*ativa o display do tipo flex*/
    flex-wrap: wrap; /*permite que o conteudo se desloque para encaixar com o tamanho da página*/
    gap: 30px; /*espaçamento entre os cards*/
    

    /*----centralizar os cards no eixo principal----*/
    justify-content: center;
    /*deixar todos os items "esticados" ou seja do mesmo tamanho*/
    align-items: stretch;
}


/*----alterar o estilo dos cards----*/
.item{
    width: 250px;
    background-color:  #720411;
    border-radius: 10px; /*altera o  tipo da borda deixando redonda*/
    padding: 20px;  /*altera o distanciamento interno da caixa*/
    display: flex; /*ativa o display domtipo flex*/
    flex-direction: column; /*muda a direção dos eixos e deixa em coluna*/
    justify-content: space-between;
}

.item:hover{
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: 0 20px black;
    background: #114d85;
background: linear-gradient(90deg, rgba(17, 77, 133, 1) 15%, rgba(9, 52, 89, 1) 35%, rgba(4, 22, 54, 1) 45%, rgba(61, 6, 6, 1) 53%, rgba(94, 15, 14, 1) 67%, rgba(120, 16, 16, 1) 78%);
}

.item img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px; /*altera o  tipo da borda deixando redonda*/
    margin-bottom: 15px; /*distancia o texto de um outro elemento*/
}


/*-----alterando o estilo do paragrafo-----*/
.item p{
    color:  rgba(244, 252, 252, 0.322);
    font-weight: bold; /*alterar a espessura do texto*/
    margin-bottom: 10px; /*distancia o texto de um outro elemento*/
}

.item h3{
    font-size: 20px;
    font-family: "Quantico", sans-serif;
    color: white;
    margin-bottom: 15px;
}

.tags{ /*alterando as tags*/
    display: flex; /*ativar o display do tipo flex*/
    flex-wrap: wrap; /*quebra a linha*/
    gap: 8px; 
    justify-content: center; /*centraliza o elemento*/
}

.tag{ /*alterando as tags span*/
    color: white; /*alterando a cor do texto*/
    padding: 8px 14px; /*alterando o distanciamento da borda interna*/
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    background-color: #420608;
}





.tag-lider{ /*alterando a tag do professor*/
    background-color: gold;
    color: white; /*alterando a cor do texto*/
    padding: 8px 14px; /*alterando o distanciamento da borda interna*/
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
}

.esperto{ /*alterando a tag caracteristica do professor*/
    background-color: rgb(235, 235, 207);
    color: white; /*alterando a cor do texto*/
    padding: 8px 14px; /*alterando o distanciamento da borda interna*/
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
}



.frio{ /*alterando a tag caracteristica de palermo*/
    background-color: darkcyan;
    color: white; /*alterando a cor do texto*/
    padding: 8px 14px; /*alterando o distanciamento da borda interna*/
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
}

.corajosa{ /*alterando a tag caracteristica de toquio*/
    background-color: crimson;
    color: white; /*alterando a cor do texto*/
    padding: 8px 14px; /*alterando o distanciamento da borda interna*/
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;

}

.ingenuino{ /*alterando a tag caracteristica de rio*/
    background-color: darkorange;
    color: white; /*alterando a cor do texto*/
    padding: 8px 14px; /*alterando o distanciamento da borda interna*/
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;

}

.determinada{ /*alterando a tag caracteristica de nairobi*/
    background-color: dodgerblue;
    color: white; /*alterando a cor do texto*/
    padding: 8px 14px; /*alterando o distanciamento da borda interna*/
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
}

.acolhedor{ /*alterando a tag caracteristica de denver*/
    background-color: darkviolet;
    color: white; /*alterando a cor do texto*/
    padding: 8px 14px; /*alterando o distanciamento da borda interna*/
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;

}



.tag-policial{ /*alterando a tag de lisboa*/
    background-color: blue;
    color: white; /*alterando a cor do texto*/
    padding: 8px 14px; /*alterando o distanciamento da borda interna*/
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
}

.estrategista{ /*alterando a tag caracteristica de lisboa*/
    background-color: navy;
    color: white; /*alterando a cor do texto*/
    padding: 8px 14px; /*alterando o distanciamento da borda interna*/
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
}



.tag-refem{ /*alterando a tag de estocolmo*/
    background-color: blueviolet;
    color: white; /*alterando a cor do texto*/
    padding: 8px 14px; /*alterando o distanciamento da borda interna*/
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
}

.empatia{ /*alterando a tag caracteristica de estocolmo*/
    background-color: coral;
    color: white; /*alterando a cor do texto*/
    padding: 8px 14px;  /*alterando o distanciamento da borda interna*/
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;

}

footer{
    color: white;
    background-color:  rgba(244, 252, 252, 0.322);
    height: 30px;
    font-size: 25px;
    transition: 0,3s; /*coloca uma animação*/
}

footer:hover{
    color: #720411;
    box-shadow: 0 0 20px red;
}



/* Responsivo */

@media(max-width: 600px){
    #personagem h2{
        font-size: 50px;
        color: white;
    }
}

